@charset "EUC-KR";
@import url('https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css');
    @import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Passion+One:400,700&display=swap');
.container {
  margin-top: 40px; 
}

.wrap {
  position: relative;
  -webkit-transition: all 0.3s ease-out;  
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.wrap.active {
  left: 14em;
}
a.side-menu-link {
  float: left;
  display: block;
  padding: 1em;
}

@media screen and (max-width: 48.063em) {
  .js .oc {
    width: auto;
    position: absolute;
    top: 0;
    left: -14em;
  }
}

@media screen and (min-width: 48.25em) {
  a.side-menu-link {
    display: none;
  }
  .wrap.active {
    left: 0;
  }
}
header {
	float: right;
	font-size:17.5px;
	padding:24px 15px;
}
nav a {
  display: inline-block;
  outline: none;
  text-decoration: none;
  opacity: .7;
  padding: 0 .5em;
  color: black;
  transition: opacity .2s ease-in-out;
}
nav a:hover, nav a:focus {
  opacity: 1;
  text-decoration: none;
}
div.logo{
	height: 30vh;
  background-image: url("../img/front/pic6_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div.logo span{
	margin: 0;
  	font-size: 600%;
  	text-align: center;
 	line-height: 1;
 	padding-top: 80px;
 	display: block;
  	font-weight: 400;
  	color: #fff;
  	letter-spacing: 4px;
  	font-family: 'Passion One', cursive;
}
h2{
	margin: 30px 5px 40px;
	font-size: 35px;
	color: #6b6a65; 
	font-family: 'Comfortaa'; 
	text-shadow: -.030em .030em #FFF6E6, -.08em .08em #E7DCD7;
}
div.write{
	width:50px;
	text-align:center;
	float:right;
	background:#757575;
	padding:5px;
	border-radius:5px;
	font-size:13px;
	font-weight:600;
	border: 1.5px solid #757575;
	margin-right: 3px;
	margin-top:10px; 
}
div.write a{
	color:white;
	text-decoration:none;
}
table.content_list{
	text-align:center;
	border:2px solid #b0b0b0;
	color:#505050;
	margin: 30px 10px;
	width:810px;
}
tr, td{
	border:2px solid #b0b0b0;
	padding: 7px;
}
tr.clist_title td{
	background:#f5f2eb;
	font-size:15px;
	font-weight: 700;
	padding-top:20px;
	padding-bottom:20px;
	vertical-align:middle;	
}
td a{
	text-decoration:none;
	color: #505050;
}
td a:hover{
	text-decoration:none;
	color: #d46b5e;
}
li.nav-header{
	font-size:13px;
}
div.next_page{	
	font-size: 15px;
	font-weight:600;
	float:right;
	padding-top:30px;
	margin-right: 10px;
}
div.next_page a{
	color: #5b5b5b;
	text-decoration:none;
}
a.a_heart, a.a_new{
	color: #bd4836;
	text-decoration:none;
	font-weight:600;
	font-size:14px;
	padding:10px;
}