@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700&display=swap');
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
}
html {
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
}
body {
  margin: 0;
  background: #eee;
}
section {
  height: 30vh;
  background-image: url("../img/front/pic6_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Passion One', cursive;
}
header {
  width: 100%;
  padding: 1em;
  font-size: 140%;
  position: absolute;
  top: 30vh;
  left: 0;
  transition: opacity .2s ease-in-out;
  text-align: center;
}

nav a {
  display: inline-block;
  outline: none;
  text-decoration: none;
  opacity: .7;
  padding: 0 .5em;
  color: black;
  transition: opacity .2s ease-in-out;
}
nav a:hover, nav a:focus {
  opacity: 1;
}
article {
  margin: 5em auto 0;
  padding: 1em;
  font-size: 140%;
  max-width: 1200px;
  background: white;
  box-shadow: rgba(0,0,0,.05) 0 3px 15px;
}

@media (min-width: 500px) {
  header {
    text-align: left;
  }
  nav {
    float: right;
  }
  article {
    margin: 3.5em auto 0;
    padding: 2em;
  }
}
@media (min-width: 800px) {
  article {
    margin: 3.5em auto;
  }
}

div.logo{
	margin: 0;
  	font-size: 600%;
  	text-align: center;
 	line-height: 1;
 	padding-top: 80px;
 	display: block;
  	font-weight: 400;
  	color: #fff;
  	letter-spacing: 4px;
}
div.join{
	position: relative;
}
div.title{
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 80px;
}
div.et{
	height: 150px;
}
input[type=text], input[type=password],select{
	border-color: #efd27f;
	border-width: 2px;
	border-style: none none solid none;
	padding-left: 10px;
	height: 30px;
	color: #444444;
	font-size:16px;
	}
td.tag{
	text-align: right;
	color: #444444;
	padding: 10px 30px;
	letter-spacing:1.5px;
}
td.t_text{
	text-align: center;
}
span.max{
	font-size: 14px;
	letter-spacing:1px;
	color: #7e7353;
	padding-left: 16px;
}
span.maxt{
	font-size: 14px;
	letter-spacing:1px;
	color: #7e7353;
	padding-left: 50px;
}
table.first{
	position:relative;
	left: 28%;
}
table.second{
	position:relative;
	left: 30%;
	color: #444444;
}
td.t_text{
	height: 100px;
}
td.t_text div{
	background-color:#fee7a8;
	width: 280px;
	height: 30px;
	border-radius: 20px;
	display:table-cell;
	vertical-align: middle;
	position:relative;
	left:30%;
}
input[type=submit]{
	width: 120px;
	height: 35px;
	background:black;
	color:white;
	font-size: 100%;
	border-radius: 10px;
	border: 1.5px solid black;
	cursor:pointer;
	position:relative;
	left: 45%;
}
input[type=submit]:hover{
	background-color:#FFAB00;
	opacity: 0.7;
	border: 1.5px solid white;
}
textarea{
	padding:10px 5px;
	resize:none;
	width: 300px;
}