<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
    <servlet-name>mypageServlet</servlet-name>
    <servlet-class>web.MyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberpageServlet</servlet-name>
    <url-pattern>/memberPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberpageServlet</servlet-name>
    <servlet-class>web.MemberPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mypageServlet</servlet-name>
    <url-pattern>/myPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signupServlet</servlet-name>
    <servlet-class>web.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>web.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardWrite-servlet</servlet-name>
    <servlet-class>web.BoardWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWrite-servlet</servlet-name>
    <url-pattern>/BoardWriter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardList-servlet</servlet-name>
    <servlet-class>web.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardList-servlet</servlet-name>
    <url-pattern>/Board</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCartList-servlet</servlet-name>
    <servlet-class>web.AddItemToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartList-servlet</servlet-name>
    <url-pattern>/add-item-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>like-servlet</servlet-name>
    <servlet-class>web.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>like-servlet</servlet-name>
    <url-pattern>/like</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>my-like-servlet</servlet-name>
    <servlet-class>web.ShowLikeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>my-like-servlet</servlet-name>
    <url-pattern>/mylike</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardItem-servlet</servlet-name>
    <servlet-class>web.BoardItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardItem-servlet</servlet-name>
    <url-pattern>/BoardItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Attend-servlet</servlet-name>
    <servlet-class>web.AttendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attend-servlet</servlet-name>
    <url-pattern>/Attend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Attend-Cancel-servlet</servlet-name>
    <servlet-class>web.AttendCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attend-Cancel-servlet</servlet-name>
    <url-pattern>/AttendCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Block-servlet</servlet-name>
    <servlet-class>web.BlockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Block-servlet</servlet-name>
    <url-pattern>/block</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>order-list-servlet</servlet-name>
    <servlet-class>web.OrderByLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order-list-servlet</servlet-name>
    <url-pattern>/orderedBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forced-exit-servlet</servlet-name>
    <servlet-class>web.ForcedExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forced-exit-servlet</servlet-name>
    <url-pattern>/forcedExit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>msgreceive-servlet</servlet-name>
    <servlet-class>web.msgReceiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>msgreceive-servlet</servlet-name>
    <url-pattern>/msgReceive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>free-servlet</servlet-name>
    <servlet-class>web.FreeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>free-servlet</servlet-name>
    <url-pattern>/freeBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>free-write-servlet</servlet-name>
    <servlet-class>web.FreeWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>free-write-servlet</servlet-name>
    <url-pattern>/freeWrite</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>msgdelete-servlet</servlet-name>
  	<servlet-class>web.msgDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>msgdelete-servlet</servlet-name>
  	<url-pattern>/msgDelete</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>free-item-servlet</servlet-name>
  	<servlet-class>web.FreeItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>free-item-servlet</servlet-name>
  	<url-pattern>/freeItem</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>like-delete-servlet</servlet-name>
  	<servlet-class>web.LikeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>like-delete-servlet</servlet-name>
  	<url-pattern>/likeDelete</url-pattern>
  </servlet-mapping>
</web-app>